extends layout

block content
    .row
        .col.col-xs-12.col-sm-8.col-sm-offset-2
            h1 Pöhinä-generaattori
            p.
                Pöhinä-generaattorilla luot itsellesi aidon
                #[a(href="https://twitter.com/hashtag/digitalist?src=hash", target="_blank", rel="noopener noreferrer") #digitalist]
                #[a(href="https://twitter.com/hashtag/pöhinä?src=hash", target="_blank", rel="noopener noreferrer") #pöhinä]
                #[a(href="https://twitter.com/hashtag/approved?src=hash", target="_blank", rel="noopener noreferrer") #approved] -profiilikuvauksen.

            p Saa käyttää, mutta ei oo pakko.

            .form-group.pohina-form
                label(for='name') Nimi:
                input#name.form-control.input-lg(type="text", placeholder="Nimi")

            .btn-container
                button#submit.btn.btn-lg.btn-danger Generoi pöhinää!

            h3#name-template.pohina-title
            p#text-template.pohina-text

        .col.col-xs-12.col-sm-8.col-sm-offset-2
            .btn-container.share-button
                button#save.btn.btn-lg.btn-info Jaa kavereille


    include modal